@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anonymous Pro', monospace;
    color: #121723;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left:150px;
    padding-right: 150px;
}

.header__container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #676B73;
}

.links{
    font-family: 'Anonymous Pro', monospace;
    color: #121723;
    display: flex;

}

.links_ul {
    display: flex;
    list-style-type:none;
    gap: 24px;
}

a {
    color: inherit;
}

main {
    background-color:#E6E8EC66;
}

h1{
    font-size: 48px;
    font-weight: 700;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.sneakers{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    align-self: stretch;/*Зачем?*/
    flex-wrap: wrap;
}

.sneaker{
    border-radius: 12px;
    width: 364px;
    overflow: hidden;
    background-color: white;
}

.sneaker__info{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}


.sneaker__title{
    font-size: 26px;
    font-weight: 700;

}

.sneaker__description{
    font-size: 20px;
    font-weight: 400;
}

.footer__container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: #121723;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}

.logo__footer {
    height: 22px;
    width: auto;
}

.links__footer{
    display: flex;
    list-style-type:none;
    gap: 10px;
    color: white;
}

.footer__bottom{
    background-color: #121723;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

hr{
    display: flex;
    height: 1px;
    width: 1160px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.bottom__text{
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .main__container {
        flex-direction: column;
        align-items: center;
    }
  }
  