@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Anonymous Pro', monospace;
    color: #121723;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left:150px;
    padding-right: 150px;
}

.header{
    background-color: white;
    border-bottom: 1px solid #676B73;
}

.header__container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    list-style-type:none ;
}

.links{
    font-family: 'Anonymous Pro', monospace;
    color: #121723;
    display: flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.links_ul {
    display: flex;
    list-style-type:none;
    gap: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    background-color:#E6E8EC66;
}

h1{
    font-size: 48px;
    font-weight: 700;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sneakers{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    align-self: stretch;/*Зачем?*/
    flex-wrap: wrap;
    list-style-type:none ;
}

.sneaker{
    border-radius: 12px;
    width: 364px;
    overflow: hidden;
    background-color: white;
}

.sneaker__image{
    width: 100%;
}

.sneaker_animation{
    transition:
    transform ease-in 100ms,
    box-shadow ease-in-out 200ms;
}

.sneaker_animation:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.sneaker__info{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.sneaker__title{
    font-size: 26px;
    font-weight: 700;

}

.sneaker__description{
    font-size: 20px;
    font-weight: 400;
}

.footer{
    background-color: #121723;
}

.footer__container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
}

.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    list-style-type:none;
}

.logo__footer {
    height: 22px;
    width: auto;
}

.links__footer{
    display: flex;
    list-style-type:none;
    gap: 10px;
    color: white;
}

.footer__bottom{
    background-color: #121723;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.bottom__line{
    height: 1px;
    align-self: stretch;
    background:  #676B73;
}

hr{
    display: flex;
    height: 1px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.bottom__text{
    color: #A1A6B4;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1439px) {

    .container{
        max-width: 375px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__container{
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap:24px;
    }

    .sneakers {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .main__container {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        gap: 32px;
    }

    
    h1{
        font-size: 32px;
        font-weight: 700;
    }

    .sneaker{
        border-radius: 12px;
        width: 343px;
        overflow: hidden;
        background-color: white;
    }

    .footer__container{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    .footer__top{
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap:24px;
    }
    
}
  